<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
       <div class="footer_section_2">
          <div class="row">
             <div class="col-lg-3">
                <h2 hreh="#" class="footer_taital">OUTILS DE GESTION</h2>
                <a href="#" class="footer_text">Comprendre les marchés publics</a>
                <a href="#" class="footer_text">Liste des DAO types</a>
                <a href="#" class="footer_text">Code des marchés</a>
                <a href="#" class="footer_text">Espace législation</a>
                <a href="#" class="footer_text">Programme de formation</a>
                <a href="#" class="footer_text">Référentiel des prix</a>
                <a href="#" class="footer_text">Dénonciations anonymes</a>
                <a href="#" class="footer_text">Faq</a>
             </div>
             <div class="col-lg-3">
                <h2 hreh="#" class="footer_taital">RAPPORTS</h2>
                <a href="#" class="footer_text">Rapport ARMP</a>
                <a href="#" class="footer_text">Rapports DNCMP</a>
                <a href="#" class="footer_text">Rapports d'audit</a>
             </div>
             <div class="col-lg-3">
                <h2 hreh="#" class="footer_taital">LIENS UTILES</h2>
                <a href="http://www.armp.sn/" class="footer_text">ARMP</a>
                <a href="http://www.uemoa.int/" class="footer_text">UEMOA</a>
                <a href="https://cciad.sn/" class="footer_text">CCIAD</a>
                <a href="https://www.worldbank.org/en/home" class="footer_text">BANQUE MONDIALE</a>
                <a href="https://www.afdb.org/en" class="footer_text">BAD</a>
                <a href="http://cnes.sn/" class="footer_text">CNES</a>
                <a href="http://www.gouv.sn/" class="footer_text">CNP</a>
                <a href="https://diaytar.com/pages/forumcivil-sn" class="footer_text">FORUM CIVIL</a>
                <a href="http://www.finances.gouv.sn" class="footer_text">MINISTERE DE FINANCES</a>
             </div>
          </div>
          <div class="col-xl-20 col-lg-20">
            <img src="assets/img/senegal.png" width=90px alt="">
         </div>
       </div>
    </div>
 </div>

 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">Copyright © 2023 Portail des marchés publics du Sénégal.</p>
    </div>
 </div>
 
 
