/* footer section start */
.footer_section {
    width: 100%;
    float: left;
    background-color: rgb(5, 134, 146);
    height: auto;
    padding: 0px 0px;
}

.footer_section_2{
    width: 100%;
    float: left;
    padding-top: 40px;
}
.footer_section_2 img{
    width: 200px;
    margin-left: 900px;
    margin-top: -400px;
}
.footer_taital {
    float: left;
    font-size: 22px;
    color: #080808;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;      
}
.footer_taital:hover{
    color: #ffffff;
}
.footer_text {
    width: 80%;
    float: left;
    font-size: 15px;
    color: #100f0f;
    margin: 0px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;    
}
.footer_text:hover{
    color: #ffffff;
}
.copyright_section {
    width: 40%;

    background-color: #ffffff;
    position: center;
}
.copyright_text {
    width: 100%;
    font-size: 16px;
    color: #050404;
    height: auto;
  
}


