.nav {
 padding: 20;
 color: rgb(5, 6, 6);
 background-color:rgb(8, 209, 228);
}
    .nav {
      margin-top: 80px;
    }
    
    #nav h1 {
      font-size: 25px;
      text-align: center;
      font-weight: 300;
    }
    #nav a {
        font-size: 20px;
        text-align: center;
        color: #050606;
      }
     
        .table {
          border-collapse: collapse !important;
          background: #fff; }

          .table th {
            background-color: rgba(86, 84, 81, 0.897) !important; }
        .table-bordered th,
        .table-bordered td {
          border: 1px solid #dee2e6 !important; }
        .table-dark {
          color: inherit; }
      
      body {
        font-family: "Poppins", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.8;
        font-weight: normal;
        background: #f8f9fd;
        color: gray; }
      
      
      .table {
        min-width: 100px !important;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px; }

        .table thead th {
          border: 0px;
          padding: 30px;
          font-size: 18px;
        }
          
        .table tbody td {
          border: none;
          padding: 20px;
          font-size: 15px;
          }
        
      