  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="col-xl-20 col-lg-20">
							<img src="assets/img/senegal.png" width=90px alt="">
						</div>
      <div class="logo">
        <h1><a href="index.html">SIGMAP</a></h1>
           </div>
        </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="">ACCUEIL</a></li>
          <li><a  routerLink="actualite">ACTUALITÉS</a></li>
          <li class="dropdown"><a href="#"><span>CONSULTATIONS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#"> PLAN DE PASSATION </a></li>
              <li><a href="#"> AVIS GÉNÉRAUX </a></li>
              <li><a href="#"> AVIS D'APPEL À CONCURRENCE </a></li>
              <li><a href="#"> PROCÈS VERBAL D'OUVERTURE </a></li>
              <li><a href="#"> PROCÈS VERBAL D'ATTRIBUTION PROVISOIRE </a></li>
              <li><a href="#"> AVIS D'ATTRIBUTION DÉFINITIVE </a></li>
              <li><a href="#"> BÉNÉFICIAIRES EFFECTIFS </a></li>
              <li><a href="#"> JOURNAL DES MARCHÉS PUBLICS </a></li>
              <li><a href="#"> CONTENTIEUX </a></li>
              <li><a href="#"> LISTE ROUGE </a></li>
            </ul>
          </li>
           <li class="dropdown"><a href="#"><span>OUTILS DE GESTION</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#"> STATISTIQUES </a></li>
              <li><a href="#"> COMPRENDRE LES MARCHÉS PUBLICS </a></li>
              <li><a href="#"> LISTE DES DAO TYPES </a></li>
              <li><a href="#"> CODE DES MARCHÉS 2017 </a></li>
              <li><a href="#"> CODE DES MARCHÉS 2009 </a></li>
              <li><a href="#"> CODE DES MARCHÉS 2020 </a></li>
              <li><a href="#"> ESPACE LÉGISLATION </a></li>
              <li><a href="#"> PROGRAMME DE FORMATION </a></li>
              <li><a href="#"> RÉFÉRENTIEL DES PRIX </a></li>
              <li><a href="#"> DÉNONCIATION ANONYMES </a></li>
              <li><a href="#"> FAQ </a></li>
            </ul>
          </li>
         <li class="dropdown"><a href="#"><span>ORGANES</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#"> ARMP </a></li>
              <li><a href="#"> DNCMP </a></li>
              <li><a href="#"> ORGANES DE PASSATION </a></li>
            </ul>
            </li>
          <li class="dropdown"><a href="#"><span>RAPPORTS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#"> RAPPORTS ARMP </a></li>
              <li><a href="#"> RAPPORTS DNCMP </a></li>
              <li><a href="#"> RAPPORTS D'AUDIT </a></li>
            </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
            <li><a class="nav-link scrollto" href="login">CONNEXION</a></li>
            
          </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
  </header>
  <section id="nav" class="nav">
    <div class="container">
      <div class="row">
          <h1>Toutes les actualités</h1>
          <a href="#acceuil">acceuil > acctualités</a>
          </div>
      </div>
  </section>
  
  <section >
  <nav id="nav2" class="nav2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up" data-aos-delay="400">Refonte totale du portail web des marchés publics</h2>
          <div data-aos="fade-up" data-aos-delay="800">
          <a href="actuConsulte" class="btn-get-started scrollto">Consulter</a>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/belle4.jpeg">
        </div>
      </div>
    </div>
  </nav>
  </section><!-- End Hero -->
  <app-footer></app-footer>

  
  
  
  


    
   