  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="col-xl-20 col-lg-20">
							<img src="assets/img/senegal.png" width=90px alt="">
						</div>
      <div class="logo">
        <h1><a href="index.html">SIGMAP</a></h1>
           </div>
        </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="">ACCUEIL</a></li>
          <li><a  routerLink="actualite">ACTUALITÉS</a></li>
          <li class="dropdown"><a href="#"><span>CONSULTATIONS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">PLAN DE PASSATION</a></li>
              <li><a href="#">AVIS GÉNÉRAUX</a></li>
              <li><a href="#">AVIS D'APPEL À CONCURRENCE</a></li>
              <li><a href="#">PROCÈS VERBAL D'OUVERTURE</a></li>
              <li><a href="#">PROCÈS VERBAL D'ATTRIBUTION PROVISOIRE</a></li>
              <li><a href="#">AVIS D'ATTRIBUTION DÉFINITIVE </a></li>
              <li><a href="#"> BÉNÉFICIAIRES EFFECTIFS</a></li>
              <li><a href="#"> JOURNAL DES MARCHÉS PUBLICS</a></li>
              <li><a href="#"> CONTENTIEUX</a></li>
              <li><a href="#">LISTE ROUGE</a></li>
            </ul>
          </li>
           <li class="dropdown"><a href="#"><span>OUTILS DE GESTION</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">STATISTIQUES</a></li>
              <li><a href="#">COMPRENDRE LES MARCHÉS PUBLICS</a></li>
              <li><a href="#">LISTE DES DAO TYPES</a></li>
              <li><a href="#">CODE DES MARCHÉS 2017</a></li>
              <li><a href="#">CODE DES MARCHÉS 2009</a></li>
              <li><a href="#">CODE DES MARCHÉS 2020</a></li>
              <li><a href="#"> ESPACE LÉGISLATION</a></li>
              <li><a href="#"> PROGRAMME DE FORMATION</a></li>
              <li><a href="#"> RÉFÉRENTIEL DES PRIX</a></li>
              <li><a href="#">DÉNONCIATION ANONYMES</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
         <li class="dropdown"><a href="#"><span>ORGANES</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">ARMP</a></li>
              <li><a href="#">DNCMP</a></li>
              <li><a href="#">ORGANES DE PASSATION</a></li>
            </ul>
            </li>
          <li class="dropdown"><a href="#"><span>RAPPORTS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">RAPPORTS ARMP</a></li>
              <li><a href="#">RAPPORTS DNCMP</a></li>
              <li><a href="#">RAPPORTS D'AUDIT</a></li>
            </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
            <li><a class="nav-link scrollto" routerLink="login">CONNEXION</a></li>
          </ul>
      </nav><!-- .navbar -->

    
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Portail Des Marchés Publics Du Sénégal</h1>
          <p data-aos="fade-up" data-aos-delay="400">C'est une plate-forme centrale destinée aux fournisseurs et tout autre acteur intéressé par les marchés publics passés par les différents ministères, collectivités locales, sociétés nationales, sociétés à participation publique majoritaire... Elle constitue un outil de travail pour le nouveau dispositif institutionnel composé de l'Autorité de Régulation des Marchés Publics (ARMP) et de la Direction Centrale des Marchés Publics (DCMP).</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="400">
          <img src="assets/img/belle 2.jpeg" class="img-fluid animated" alt="" width="500px">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>plans de passation</h2>
          <p>Cet espace vous offre la possibilté de consulter le plan de passation des marchés des différentes structures de l'Etat.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h1>Free</h1>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
    
    <!--Section numéro -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2> Numéro Vert</h2>
          <p>Avec le numéro vert vous avez la possibilité d'appeler gratuitement depuis un post fixe en cas de problème.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h5>Numéro vert</h5>
              <img src="assets/img/numeroVert.png">
            </div>
            
            </div>
        </div>

      </div>
    </section>
    <!-- End Section numéro -->
    <app-contact></app-contact>
    <app-newsletter></app-newsletter>
    
    
