    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="col-xl-20 col-lg-20">
            <img src="assets/img/senegal.png" width=90px alt="">
         </div>
          <div class="logo">
            <h1><a href="index.html">SIGMAP</a></h1>
               </div>
            </div>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto" href="">ACCUEIL</a></li>
              <li><a  routerLink="actualite">ACTUALITÉS</a></li>
              <li class="dropdown"><a href="#"><span>CONSULTATIONS</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#"> PLAN DE PASSATION </a></li>
                  <li><a href="#"> AVIS GÉNÉRAUX </a></li>
                  <li><a href="#"> AVIS D'APPEL À CONCURRENCE </a></li>
                  <li><a href="#"> PROCÈS VERBAL D'OUVERTURE </a></li>
                  <li><a href="#"> PROCÈS VERBAL D'ATTRIBUTION PROVISOIRE </a></li>
                  <li><a href="#"> AVIS D'ATTRIBUTION DÉFINITIVE </a></li>
                  <li><a href="#"> BÉNÉFICIAIRES EFFECTIFS </a></li>
                  <li><a href="#"> JOURNAL DES MARCHÉS PUBLICS </a></li>
                  <li><a href="#"> CONTENTIEUX </a></li>
                  <li><a href="#"> LISTE ROUGE </a></li>
                </ul>
              </li>
               <li class="dropdown"><a href="#"><span>OUTILS DE GESTION</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#"> STATISTIQUES </a></li>
                  <li><a href="#"> COMPRENDRE LES MARCHÉS PUBLICS </a></li>
                  <li><a href="#"> LISTE DES DAO TYPES </a></li>
                  <li><a href="#"> CODE DES MARCHÉS 2017 </a></li>
                  <li><a href="#"> CODE DES MARCHÉS 2009 </a></li>
                  <li><a href="#"> CODE DES MARCHÉS 2020 </a></li>
                  <li><a href="#"> ESPACE LÉGISLATION </a></li>
                  <li><a href="#"> PROGRAMME DE FORMATION </a></li>
                  <li><a href="#"> RÉFÉRENTIEL DES PRIX </a></li>
                  <li><a href="#"> DÉNONCIATION ANONYMES </a></li>
                  <li><a href="#"> FAQ </a></li>
                </ul>
              </li>
             <li class="dropdown"><a href="#"><span>ORGANES</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#"> ARMP </a></li>
                  <li><a href="#"> DNCMP </a></li>
                  <li><a href="#"> ORGANES DE PASSATION </a></li>
                </ul>
                </li>
              <li class="dropdown"><a href="#"><span>RAPPORTS</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#"> RAPPORTS ARMP </a></li>
                  <li><a href="#"> RAPPORTS DNCMP </a></li>
                  <li><a href="#"> RAPPORTS D'AUDIT </a></li>
                </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
                <li><a class="nav-link scrollto" href="login">CONNEXION</a></li>
                
              </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
      </header>
<body>
    <div class="main">
        <!-- Sign up form -->
        <div class="limiter">
            <div class="container1">
                <div class="signup-content">
                    <div class="signup-form">
                        <h3 class="form-title">INSCRIPTION À L'ESPACE ABONNÉS</h3>
                        <form #RegisterForm="ngForm" (ngSubmit)="registerUser()">
                            <div class="form-group">
                                <label for="nom"><i class="zmdi zmdi-account material-icons-nom"></i></label>
                                <input type="text"  placeholder="Nom" name="nom" [(ngModel)]="register.nom">
                            </div>
                            <div class="form-group">
                              <label for="prenom"><i class="zmdi zmdi-account material-icons-prenom"></i></label>
                              <input type="text"  placeholder="Prénoms" name="prenom" [(ngModel)]="register.prenom">
                          </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" placeholder="Email" name="email" [(ngModel)]="register.email">
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="register.password">
                            </div>
                            <div class="form-group">
                                <label for="conPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" placeholder="Confirmer mot de passe" name="conPassword" [(ngModel)]="register.password">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte les  <a href="#" class="term-service">conditions d'utilisation </a></label>
                            </div>
                            <div class="form-group form-button">
                                <button [disabled]="RegisterForm.form.invalid" type="submit" class="form-submit">S'INSCRIRE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
    </div>
</body>

<app-footer></app-footer>
